@page
@inject CommonLocalizationService localizer
@model BaseProjectWebRazor.Pages.Contact.IndexModel
@{
    ViewData["Title"] = localizer.Get("Liên hệ");
    var banner = await setting.GetBanner(BannerType.Contact);
    var siteInfo = await setting.GetSiteSetting();
}
@inject Services.CompanySettings setting
@section metas{
    <meta property="og:title" content="Liên hệ" />
    <meta property="og:image" content="https://hacid.vn/upload/images/about/ca15b4ea-0eb3-4bd0-8f9e-30a5b1664ce4.jpg" />
    <meta property="og:description" content="Công ty Cổ phần Tư vấn Đầu tư xây dựng Phát triển đô thị Hà Nội [HACID] là doanh nghiệp tư vấn thiết kế hạng một, là thành viên của Tổng Công ty Đầu tư Phát triển nhà Hà Nội [HANDICO]." />
}
<input hidden type="number" id="nav_theme" asp-for="@banner.Theme" />
<div class="contact-page">
    <div class="banner">
        @*<h2 class="title padding">@localizer.Get("Liên hệ")</h2>*@
        <img src="@banner.Banner">
    </div>
    <div class="intro padding">
        <div class="heading_area">
            <h3 class="heading">
                @localizer.Get("Thông tin liên hệ")

            </h3>
            <div class="share">
                <div class="fb-share-button" data-href="https://hacid.vn/contact" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="https://www.linkedin.com"></script>
            </div>
        </div>
        <div class="info">
            <div class="title">
                @siteInfo.CompanyName

            </div>
            <div class="line_info">
                <div class="label">Add: </div>
                <div class="text">@siteInfo.Address</div>
            </div>
            <div class="line_info">
                <div class="label">Tel: </div>
                <div class="text">@siteInfo.PhoneNumber</div>
            </div>
            <div class="line_info">
                <div class="label">Fax: </div>
                <div class="text">@siteInfo.Fax</div>
            </div>
            <div class="line_info">
                <div class="label">Email: </div>
                <div class="text">@siteInfo.Email</div>
            </div>
        </div>
    </div>
    <div class="title_card bg_color_2">
        @localizer.Get("Bản đồ")
    </div>
    <div class="map">
        <iframe src="@siteInfo.MapEmbed"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" zoom="5" tabindex="0"></iframe>
    </div>

</div>
@section Styles{
    <link href="~/css/contact.css" rel="stylesheet" />
}