@page
@inject CommonLocalizationService localizer
@model IndexModel
@{
    ViewData["Title"] = localizer.Get("Trang chủ");
    var banners = await setting.GetBannerHome();
}
@section metas{
    <meta property="og:title" content="Hacid" />
    <meta property="og:image" content="https://hacid.vn/upload/images/about/ca15b4ea-0eb3-4bd0-8f9e-30a5b1664ce4.jpg" />
    <meta property="og:description" content="Công ty Cổ phần Tư vấn Đầu tư xây dựng Phát triển đô thị Hà Nội [HACID] là doanh nghiệp tư vấn thiết kế hạng một, là thành viên của Tổng Công ty Đầu tư Phát triển nhà Hà Nội [HANDICO]." />
}
@inject Services.CompanySettings setting

<div id="banner">
    <div class="slide-banner">
        @for (int i = 0; i < Model.Slides.Count; i++)
        {
            var item = Model.Slides[i];
            <div class="item @(i==0?"animated":"")" data-id="@Model.Slides[i].Theme">
                <div class="bg_item" style="background-image: url('/upload/images/@item.Image');"></div>
                <div class="title_card_banner">
                    <div class="wrap_text">
                        <div class="text">
                            @Html.Raw(item.Title)
                        </div>
                    </div>

                </div>
                @if (Model.Slides.Count > 1)
                {
                    <div class="indicators">
                        <div>@(i+1)</div>
                        <div class="line">
                            <div class="placehoder"></div>
                            <div class="progress_line"></div>
                        </div>
                        @if (i == Model.Slides.Count - 1)
                        {
                            <div>1</div>
                        }
                        else
                        {
                            <div>@(i+2)</div>
                        }

                    </div>
                }

                <div class="info_card">
                    @if (!string.IsNullOrEmpty(item.ProjectTitle))
                    {
                        <div class="project_name">
                            @item.ProjectTitle <img src="/assets/icons/the-loai.svg">
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(item.Location))
                    {
                        <div class="project_location">
                            @item.Location <img src="/assets/icons/dia-chi.svg">
                        </div>
                    }
                </div>
                <a class="view_more" href="@item.Link">
                    @localizer.Get("Xem chi tiết") <span>+</span>
                </a>
            </div>

        }



    </div>
    <div class="shadow_bottom">

    </div>
</div>
<div class="about_us padding">
    <h3 class="heading">
        @localizer.Get("Về chúng tôi")
    </h3>
    <div class="ck-content">
        @Html.Raw(Model.AboutArticle)
    </div>
    <div class="view_more">
        <a href="/about"><span>[</span> @localizer.Get("Xem thêm") <span>]</span></a>
    </div>
</div>
<div class="project_cards">
    <div class="project_card">
        <a class="title bg_color_2 padding" href="/project">
            <div class="text">@localizer.Get("Dự án")</div>
        </a>
        <a class="img" href="/project"><img src="@banners.FirstOrDefault(c=>c.BannerId==(int)BannerType.Home1).Banner"></a>
    </div>
    <div class="project_card">
        <a class="title bg_color_1 padding" href="/project?field=5">
            <div class="text">@localizer.Get("Tư vấn xây dựng")</div>
            <div class="plus_sign">+</div>
        </a>
        <a class="img" href="/project?field=5"><img src="@banners.FirstOrDefault(c=>c.BannerId==(int)BannerType.Home2).Banner"></a>
    </div>
    <div class="project_card">
        <a class="title bg_color_1 padding" href="/project?field=6">
            <div class="text">@localizer.Get("Tư vấn đầu tư")</div>
            <div class="plus_sign">+</div>
        </a>
        <a class="img" href="/project?field=6"><img src="@banners.FirstOrDefault(c=>c.BannerId==(int)BannerType.Home3).Banner"></a>
    </div>
    <div class="project_card">
        <a class="title bg_color_1 padding" href="/project?field=7">
            <div class="text">@localizer.Get("Dự án đầu tư")</div>
            <div class="plus_sign">+</div>
        </a>
        <a class="img" href="/project?field=7"><img src="@banners.FirstOrDefault(c=>c.BannerId==(int)BannerType.Home4).Banner"></a>
    </div>
</div>

@section Styles {

    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/home.css" />

}

@section Scripts {
    <script src="~/lib/slick/slick.min.js"></script>
    <script>
        $(function () {
            $('#banner .slide-banner').on('init', function (event, slick) {
                let theme = $(slick.$slides[0]).attr('data-id');

                if (theme == 1) {
                    $('#banner .item .info_card').addClass('text_dark');
                    $("nav.menu").addClass('dark');
                }
                else {
                    $('#banner .item .info_card').removeClass('text_dark');
                    $('nav.menu').removeClass('dark');
                }
                $('#banner .indicators .line').addClass('active');

            });
            $('#banner .slide-banner').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
                let theme = $(slick.$slides[nextSlide]).attr('data-id');

                if (theme == 1) {
                    $('#banner .item .info_card').addClass('text_dark');
                    $("nav.menu").addClass('dark');
                }
                else {
                    $('#banner .item .info_card').removeClass('text_dark');
                    $('nav.menu').removeClass('dark');
                }

                setTimeout(function () {
                    $(slick.$slides[nextSlide]).addClass('animated');
                }, 500);
                setTimeout(function () {
                    $(slick.$slides[currentSlide]).removeClass('animated');
                }, 1000);
            });
            $('#banner .slide-banner').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                selector: '.item',
                autoplay: true,
                speed: 1000,
                cssEase: 'linear',
                autoplaySpeed: 6000,
                infinite: true,
                waitForAnimate: false,
                pauseOnHover: false,
                pauseOnFocus: false
            });
        })
    </script>
}