@page "{Id}"
@model BaseProjectWebRazor.Pages.ProjectPage.DetailModel
@inject CommonLocalizationService localizer
@{
    ViewData["Title"] = Model.Detail.Title;
    string og_image = Model.Detail.Banners.Split(",")[0];
}
@section metas{
    <meta property="og:title" content="@Model.Detail.Title" />
    <meta property="og:image" content="@og_image" />
    <meta property="og:description" content="@Model.Detail.Title" />
}
<input hidden type="number" id="nav_theme" asp-for="@Model.Detail.Theme" />
<div class="project-detail-page">
    <div id="banner_slides">
        @foreach (var item in Model.Detail.Banners.Split(","))
        {
            <div class="item" style="background-image: url('@item');">
                <div class="title_card_banner">
                    <div class="wrap_text">
                        <div class="text">
                            @Model.Detail.Title
                        </div>
                        <div class="description">@Model.Detail.Year | @Model.Detail.Location</div>
                    </div>

                </div>

            </div>
        }
    </div>
    <div class="wrap_project_detail padding">
        <div class="row">
            <div class="col-lg-4">
                <div class="info">
                    <div class="heading_area">
                        <h3 class="heading">
                            @localizer.Get("Thông tin dự án")

                        </h3>
                    </div>
                    <div class="list-info">
                        <div class="line">
                            <div class="label">@localizer.Get("Tên công trình")</div>
                            <div class="text">@Model.Detail.Title</div>
                        </div>
                        <div class="line">
                            <div class="label">@localizer.Get("Địa điểm")</div>
                            <div class="text">@Model.Detail.Location</div>
                        </div>
                        <div class="line">
                            <div class="label">@localizer.Get("Chủ đầu tư")</div>
                            <div class="text">@Model.Detail.Investor</div>
                        </div>
                        <div class="line">
                            <div class="label">@localizer.Get("Thể loại")</div>

                            <div class="text">
                                @for (int i = 0; i < Model.Detail.Categories.Count; i++)
                                {
                                    <div>@Model.Detail.Categories[i].Name</div>
                                }
                            </div>


                        </div>
                        <div class="line">
                            <div class="label">@localizer.Get("Lĩnh vực")</div>
                            <div class="text">
                                @for (int i = 0; i < Model.Detail.Fields.Count; i++)
                                {
                                    <div class="text">@Model.Detail.Fields[i].Name</div>
                                }
                            </div>


                        </div>
                        <div class="line">
                            <div class="label">@localizer.Get("Thời gian")</div>
                            <div class="text">@Model.Detail.Year</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 brd">
                <div class="article">
                    <div class="share-alone">
                        <div class="fb-share-button" data-href="https://hacid.vn/project/detail/@Model.Detail.Id" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                        <script type="IN/Share" data-url="https://www.linkedin.com"></script>

                    </div>
                    <div class="heading_area">

                        <h3 class="heading">
                            @Model.Detail.Title

                        </h3>

                    </div>
                    <div class="ck-content">
                        @Html.Raw(Model.Detail.HtmlContent)
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="title_card bg_color_2">
        <a href="/project" class="back_to_list">[ @localizer.Get("Quay trở lại danh sách dự án") ]</a>
    </div>
</div>
@section Styles{
    <link href="~/lib/slick/slick.css" rel="stylesheet" />
    <link href="~/lib/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/css/projects.css" rel="stylesheet" />
    <link href="~/css/project.css" rel="stylesheet" />

}
@section Scripts{
    <script src="~/lib/slick/slick.min.js"></script>
    <script>
        $(function () {
            $('#banner_slides').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                dots: true,
                selector: '.item',
                autoplay: true,
                speed: 1000,
                cssEase: 'linear',
                autoplaySpeed: 5000,
                infinite: true
            });
        });
    </script>
}