@inject CommonLocalizationService localizer
@inject Services.CompanySettings settings
@{ 
    var SiteInfo = await settings.GetSiteSetting();
    var _mapBg = await settings.MapImage();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/png" href="~/icon.png" />
    <title>@ViewData["Title"] - Hacid</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @*<link rel="icon" type="image/png" href="~/icon.png" />*@
    <meta name="Description" content="Công ty Cổ phần Tư vấn Đầu tư xây dựng Phát triển đô thị Hà Nội [HACID] là doanh nghiệp tư vấn thiết kế hạng một, là thành viên của Tổng Công ty Đầu tư Phát triển nhà Hà Nội [HANDICO].">
    <meta name="robots" content="noindex,nofollow">
   
    <meta property="og:type" content="website" />
   
    
    @RenderSection("metas", required: false)
    <link href="~/css/ck-editor.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
   
    <style>
        .ck-content .custom-block-indent-a {
            margin-left: 10%;
        }

        .ck-content .custom-block-indent-b {
            margin-left: 20%;
        }

        .ck-content .custom-block-indent-c {
            margin-left: 30%;
        }

        .ck-content .text-tiny {
            font-size: 10px;
        }

        .ck-content .text-small {
            font-size: 14px;
        }

        .ck-content .text-big {
            font-size: 18px;
        }

        .ck-content .text-huge {
            font-size: 24px;
        }
    </style>
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav id="menu" class="menu padding bg_color_1">
        <a class="logo" href="/">
            <img class="logo-white" src="/assets/images/logo_white.png">
            <img class="logo-dark" src="/assets/images/logo.png">
        </a>
        <ul class="menu-items">
            @await Html.PartialAsync("_SelectLanguagePartial")
            <li>
                <a href="@SiteInfo.ForumLink" target="_blank">
                    <svg style="margin-top:2px" xmlns="http://www.w3.org/2000/svg" width="32.389" height="27.086"
                         viewBox="0 0 32.389 27.086">
                        <g transform="translate(18525 -1229)">
                            <g>
                                <g transform="translate(-18525 1229)">
                                    <path class="fill"
                                          d="M0,0V23.29H4.428v3.8h.949a4.753,4.753,0,0,0,4.649-3.8H32.389V0ZM30.421,21.265l-22.2-.015v1.091a2.852,2.852,0,0,1-1.9,2.684V21.25l-4.311.015V2.069H30.421Z" />
                                    <path class="fill" d="M241,211h2.454v2.454H241Z"
                                          transform="translate(-226.032 -200.93)" />
                                    <path class="fill" d="M301,211h2.454v2.454H301Z"
                                          transform="translate(-281.125 -200.93)" />
                                    <path class="fill" d="M181,211h2.454v2.454H181Z"
                                          transform="translate(-170.94 -200.93)" />
                                </g>
                            </g>
                        </g>
                    </svg>


                </a>
            </li>
            <li>
                <a href="http://mail.hacid.vn" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32.395" height="23.173" viewBox="0 0 32.395 23.173">
                        <g transform="translate(18463 -1228.992)">
                            <g>
                                <g transform="translate(-18462.994 1160.73)">
                                    <g transform="translate(0 68.267)">
                                        <path class="fill"
                                              d="M32.389,68.262H0c-.012.661,0,.523,0,1.162V91.375l32.389.06V68.262ZM29.335,70.58,16.195,80.688,3.054,70.58Zm.74,18.508H2.313V72.93L15.49,83.065a1.157,1.157,0,0,0,1.409,0L30.076,72.93Z"
                                              transform="translate(0 -68.267)" />
                                    </g>
                                </g>

                            </g>
                        </g>
                    </svg>


                </a>
            </li>
            <li>
                <a class="open_sub_menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="33.611" height="22.092" viewBox="0 0 33.611 22.092">
                        <g transform="translate(18401 -1229)">
                            <g transform="translate(-18401 1229)">
                                <g transform="translate(0 0.092)">
                                    <g transform="translate(0 -0.092)">
                                        <g>

                                            <g>
                                                <g>
                                                    <rect width="33.611" height="2.985" class="fill" />
                                                </g>
                                            </g>
                                            <g transform="translate(9.775 9.553)">
                                                <g transform="translate(0 0)">
                                                    <rect width="23.836" height="2.985" class="fill" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                            <g transform="translate(-18401 1229.092)">
                                <g transform="translate(0 -0.092)">
                                    <g>
                                        <g transform="translate(3.368 19.106)">
                                            <g transform="translate(0 0)">
                                                <rect data-name="Rectangle 1239" width="30.242" height="2.985"
                                                      class="fill" />
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>

                </a>
            </li>
        </ul>
        <div class="brd"></div>
        <div class="animate__animated animate__fadeIn sub-menu padding">
            <div class="wrap">
                <div class="column">
                    <a class="title" href="/about">
                        Hacid
                        <div class="number">1</div>
                    </a>
                    <ul class="list">
                        <li>
                            <a href="/about">@localizer.Get("Giới thiệu chung")</a>
                        </li>
                        <li>
                            <a href="/about/specialist">@localizer.Get("Kinh nghiệm chuyên môn")</a>
                        </li>
                        <li>
                            <a href="/about/energy">@localizer.Get("Năng lực hiện tại")</a>
                        </li>
                        <li>
                            <a href="/about/partners">@localizer.Get("Khách hàng - đối tác tiêu biểu")</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <a class="title" href="/project">
                        @localizer.Get("Dự án")
                        <div class="number">2</div>
                    </a>
                    <ul class="list">
                        @foreach (var item in await settings.GetProjectCategories())
                        {
                            <li>
                                <a href="/project?field=@item.Id">@item.Name</a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="column">
                    <a class="title" href="/bim">
                        Bim
                        <div class="number">3</div>
                    </a>
                    <ul class="list">
                        <li>
                            <a href="/bim">@localizer.Get("Công nghệ bim")</a>
                        </li>
                        <li>
                            <a href="/project?field=@SiteInfo.Revit">@localizer.Get("Công trình áp dụng BIM")</a>
                        </li>
                    </ul>
                </div>
                <div class="column">
                    <a class="title" href="/new">
                        @localizer.Get("Tin tức")
                        <div class="number">4</div>
                    </a>
                    <ul class="list">
                        
                        @foreach (var item in await settings.GetNewCategories())
                        {
                            <li>
                                <a href="/new?cate=@item.Id">@item.Name</a>
                            </li>
                        }

                    </ul>
                </div>
                <div class="column">
                    <a class="title" href="/contact">
                        @localizer.Get("Liên hệ")
                        <div class="number">5</div>
                    </a>

                </div>
            </div>
        </div>
    </nav>
    <nav id="menu_mobile" class="menu bg_color_1 padding">
        <a class="logo" href="/">
            <img class="logo-white" src="/assets/images/logo_white.png">
            <img class="logo-dark" src="/assets/images/logo.png">
        </a>
        <a href="#" class="open_sub_menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="33.611" height="22.092" viewBox="0 0 33.611 22.092">
                <g transform="translate(18401 -1229)">
                    <g transform="translate(-18401 1229)">
                        <g transform="translate(0 0.092)">
                            <g transform="translate(0 -0.092)">
                                <g>

                                    <g>
                                        <g>
                                            <rect width="33.611" height="2.985" class="fill" />
                                        </g>
                                    </g>
                                    <g transform="translate(9.775 9.553)">
                                        <g transform="translate(0 0)">
                                            <rect width="23.836" height="2.985" class="fill" />
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                    <g transform="translate(-18401 1229.092)">
                        <g transform="translate(0 -0.092)">
                            <g>
                                <g transform="translate(3.368 19.106)">
                                    <g transform="translate(0 0)">
                                        <rect data-name="Rectangle 1239" width="30.242" height="2.985" class="fill" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>

        </a>
        <div class="animate__animated animate__fadeIn sub-menu padding">
            <div class="wrap">
                <div class="columns">
                    <div class="column">
                        <a class="title" data-toggle="collapse" data-target="#menu_item_1">
                            Hacid
                            <div class="number">1</div>
                        </a>
                        <ul class="list collapse" id="menu_item_1">
                            <li>
                                <a href="/about">@localizer.Get("Giới thiệu chung")</a>
                            </li>
                            <li>
                                <a href="/about/specialist">@localizer.Get("Kinh nghiệm chuyên môn")</a>
                            </li>
                            <li>
                                <a href="/about/energy">@localizer.Get("Năng lực hiện tại")</a>
                            </li>
                            <li>
                                <a href="/about/partners">@localizer.Get("Khách hàng - đối tác")</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <a class="title" data-toggle="collapse" data-target="#menu_item_2">
                            @localizer.Get("Dự án")
                            <div class="number">2</div>
                        </a>
                        <ul class="list collapse" id="menu_item_2">
                            <li>
                                <a href="/project">@localizer.Get("Tất cả")</a>
                            </li>
                            @foreach (var item in await settings.GetProjectCategories())
                            {
                                <li>
                                    <a href="/project?field=@item.Id">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="column">
                        <a class="title" data-toggle="collapse" data-target="#menu_item_3">
                            Bim
                            <div class="number">3</div>
                        </a>
                        <ul class="list collapse" id="menu_item_3">
                            <li>
                                <a href="/bim">@localizer.Get("Công nghệ bim")</a>
                            </li>
                            <li>
                                <a href="/project?field=8">@localizer.Get("Công trình áp dụng BIM")</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column">
                        <a class="title" data-toggle="collapse" data-target="#menu_item_4">
                            @localizer.Get("Tin tức")
                            <div class="number">4</div>
                        </a>
                        <ul class="list collapse" id="menu_item_4">
                            <li>
                                <a href="/new">@localizer.Get("Tất cả")</a>
                            </li>
                            @foreach (var item in await settings.GetNewCategories())
                            {
                                <li>
                                    <a href="/new?cate=@item.Id">@item.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="column">
                        <a class="title" href="/contact">
                            @localizer.Get("Liên hệ")
                            <div class="number">5</div>
                        </a>

                    </div>
                </div>

                <div class="bottom">
                    <ul class="menu-items">
                        <li>
                            @await Html.PartialAsync("_SelectLanguagePartial")
                        </li>
                        <li>
                            <a href="@SiteInfo.ForumLink">
                                <svg style="margin-top:2px" xmlns="http://www.w3.org/2000/svg" width="32.389" height="27.086"
                                     viewBox="0 0 32.389 27.086">
                                    <g transform="translate(18525 -1229)">
                                        <g>
                                            <g transform="translate(-18525 1229)">
                                                <path class="fill"
                                                      d="M0,0V23.29H4.428v3.8h.949a4.753,4.753,0,0,0,4.649-3.8H32.389V0ZM30.421,21.265l-22.2-.015v1.091a2.852,2.852,0,0,1-1.9,2.684V21.25l-4.311.015V2.069H30.421Z" />
                                                <path class="fill" d="M241,211h2.454v2.454H241Z"
                                                      transform="translate(-226.032 -200.93)" />
                                                <path class="fill" d="M301,211h2.454v2.454H301Z"
                                                      transform="translate(-281.125 -200.93)" />
                                                <path class="fill" d="M181,211h2.454v2.454H181Z"
                                                      transform="translate(-170.94 -200.93)" />
                                            </g>
                                        </g>
                                    </g>
                                </svg>

                            </a>
                        </li>
                        <li>
                            <a href="http://mail.hacid.vn/">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32.395" height="23.173" viewBox="0 0 32.395 23.173">
                                    <g transform="translate(18463 -1228.992)">
                                        <g>
                                            <g transform="translate(-18462.994 1160.73)">
                                                <g transform="translate(0 68.267)">
                                                    <path class="fill"
                                                          d="M32.389,68.262H0c-.012.661,0,.523,0,1.162V91.375l32.389.06V68.262ZM29.335,70.58,16.195,80.688,3.054,70.58Zm.74,18.508H2.313V72.93L15.49,83.065a1.157,1.157,0,0,0,1.409,0L30.076,72.93Z"
                                                          transform="translate(0 -68.267)" />
                                                </g>
                                            </g>

                                        </g>
                                    </g>
                                </svg>


                            </a>
                        </li>
                    </ul>
                    <div class="name">© 2020 HACID., JSC</div>

                </div>
            </div>
        </div>
    </nav>
    <div id="main-body">
        @RenderBody()

    </div>

    <footer>
        <a class="map padding hv_color_2" href="@SiteInfo.Map" target="_blank" style="background-image: url('@_mapBg');">
            <div class="text">
                <div>
                    @SiteInfo.Address

                </div>
                <div style="color:#bfffff">
                    [HACID in GoogleMap.]
                </div>
            </div>

        </a>
        <div class="footer-info padding">
            <div class="copyright">@SiteInfo.CopyRight<br /> <span style="color:gray;font-size:13px">Design By Marmedia</span></div>
            <ul class="footer-menu">
                <li>
                    <a class="hv_color_2" href="/">@localizer.Get("Trang chủ").</a>
                </li>
                <li>
                    <a class="hv_color_2" href="/about">Hacid.</a>
                </li>
                <li>
                    <a class="hv_color_2" href="/project">@localizer.Get("Dự án").</a>
                </li>
                <li>
                    <a class="hv_color_2" href="/bim">Bim.</a>
                </li>
                <li>
                    <a class="hv_color_2" href="/new">@localizer.Get("Tin tức").</a>
                </li>
                <li>
                    <a class="hv_color_2" href="/contact">@localizer.Get("Liên hệ").</a>
                </li>
            </ul>
            <div class="socials">
                <ul>
                    <li>
                        <a href="@SiteInfo.Facebook" target="_blank"><img src="/assets/icons/fb.svg"></a>
                    </li>
                    <li>
                        <a href="@SiteInfo.Linkedin"><img src="/assets/icons/in.svg"></a>
                    </li>
                    <li>
                        <a href="@SiteInfo.Youtube"><img class="yt" style=" height: 15px; margin-top: 3px;" src="/assets/icons/you.svg"></a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v9.0&appId=219237851782524&autoLogAppEvents=1" nonce="0fogS1LJ"></script>

</body>

</html>
