@model BaseProjectWebRazor.Models.ViewModel.ViewNewListItemModel
@inject CommonLocalizationService localizer
@if (Model.Items.Count() > 0)
{
    <div class="list_projects">
        @foreach (var item in Model.Items)
        {
            <div class="project_box">
                <div class="inside">
                    <a class="img" style="background-image: url('@item.Thumbnail');" href="/new/detail/@item.Id" title="@item.Title">

                    </a>
                    <div class="info">
                        <div class="des">
                            <div>
                                <a class="color_1 cate" href="?cate=@item.CateogryId">@item.Category </a> <span class="color_4">
                                    -
                                    @item.PublishedDate
                                </span>
                            </div>
                            @*<div class="color_4">
                                <img src="/assets/icons/xem.svg" class="icon">
                                <span>@item.TotalViews</span>
                            </div>*@
                        </div>
                        <a class="title" href="/new/detail/@item.Id" title="@item.Title">
                            @item.Title
                        </a>
                        <a href="/new/detail/@item.Id" class="view_more">[ @localizer.Get("Xem thêm") ]</a>
                    </div>
                </div>

            </div>

        }

    </div>
    <div class="paginations">
        <ul>
            @for (var i = 1; i <= Model.PageInfo.TotalPages; i++)
            {
                <li><a data-id="@i" asp-page="/New/Index" asp-route-p="@i" class="@(i == Model.PageInfo.CurrentPage ? "active" : "")">@i</a></li>

            }
        </ul>
    </div>
}