@page
@inject CommonLocalizationService localizer
@model BaseProjectWebRazor.Pages.About.energyModel
@{
    ViewData["Title"] = localizer.Get("Năng lực hiện tại");
    var banner = await setting.GetBanner(BannerType.About);
}
@section metas{
    <meta property="og:title" content="Năng lực hiện tại" />
    <meta property="og:image" content="https://hacid.vn/upload/images/about/ca15b4ea-0eb3-4bd0-8f9e-30a5b1664ce4.jpg" />
    <meta property="og:description" content="Công ty Cổ phần Tư vấn Đầu tư xây dựng Phát triển đô thị Hà Nội [HACID] là doanh nghiệp tư vấn thiết kế hạng một, là thành viên của Tổng Công ty Đầu tư Phát triển nhà Hà Nội [HANDICO]." />
}
@inject Services.CompanySettings setting

<input hidden type="number" id="nav_theme" asp-for="@banner.Theme" />

<div class="about-page about-energy">
    <div class="banner">

        <img src="@banner.Banner">
    </div>
    <div class="intro padding">
        <div class="heading_area">
            <h3 class="heading">
                @localizer.Get("Năng lực hiện tại")

            </h3>
            <div class="share">
                <div class="fb-share-button" data-href="https://hacid.vn/about/energy" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="https://www.linkedin.com"></script>
            </div>
        </div>
        <div class="ck-content">
            @Html.Raw(Model.Article)
        </div>
    </div>
    <div class="history padding" style="display:none">
        <div class="timeline">
            <div class="line">
                <div class="year">Năm 1980</div>
                <div class="title">
                    <div class="label">Hệ thống erp</div>
                    <div class="des">(Hoạch định các nguồn lực doanh nghiệp)</div>
                </div>
                <div class="text">
                    Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội. Xí nghiệp thiết
                    kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.
                </div>
            </div>
            <div class="line">
                <div class="year">Năm 1993</div>
                <div class="title">
                    <div class="label">Hệ thống erp</div>
                    <div class="des">(Hoạch định các nguồn lực doanh nghiệp)</div>
                </div>
                <div class="text">
                    Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội. Xí nghiệp thiết
                    kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.
                </div>
            </div>
            <div class="line">
                <div class="year">Năm 1999</div>
                <div class="title">
                    <div class="label">Hệ thống erp</div>
                    <div class="des">(Hoạch định các nguồn lực doanh nghiệp)</div>
                </div>
                <div class="text">
                    Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội. Xí nghiệp thiết
                    kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.
                </div>
            </div>
            <div class="line">
                <div class="year">Năm 2002</div>
                <div class="title">
                    <div class="label">Hệ thống erp</div>
                    <div class="des">(Hoạch định các nguồn lực doanh nghiệp)</div>
                </div>
                <div class="text">
                    Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội. Xí nghiệp thiết
                    kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.
                </div>
            </div>
            <div class="line">
                <div class="year">Năm 2004</div>
                <div class="title">
                    <div class="label">Hệ thống erp</div>
                    <div class="des">(Hoạch định các nguồn lực doanh nghiệp)</div>
                </div>
                <div class="text">
                    Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội. Xí nghiệp thiết
                    kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.
                </div>
            </div>
            <div class="line">
                <div class="year">Năm 2004</div>
                <div class="title">
                    <div class="label">Hệ thống erp</div>
                    <div class="des">(Hoạch định các nguồn lực doanh nghiệp)</div>
                </div>
                <div class="text">
                    Xí nghiệp thiết kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội. Xí nghiệp thiết
                    kế sửa chữa nhà thuộc Sở nhà đất thành phố Hà Nội.
                </div>
            </div>
        </div>
    </div>

    <div class="links">
        <a class="title_card bg_color_1 padding hv_color_2" href="/about">
            <div class="text">@localizer.Get("Giới thiệu chung")</div>
        </a>
        <a class="title_card bg_color_2 padding" href="/about/specialist">
            <div class="text">@localizer.Get("Kinh nghiệm chuyên môn")</div>
        </a>

        <a class="title_card bg_color_1 padding hv_color_2" href="/about/partners">
            <div class="text">@localizer.Get("Khách hàng - đối tác tiêu biểu")</div>
        </a>
    </div>

</div>
@section Styles {

    <link href="~/css/about.css" rel="stylesheet" />
}