@page
@inject CommonLocalizationService localizer
@model BaseProjectWebRazor.Pages.About.IndexModel
@inject Services.CompanySettings setting
@{
    ViewData["Title"] = "Giới thiệu chung";
    var banner = await setting.GetBanner(BannerType.About);
}
@section metas{
    <meta property="og:title" content="Giới thiệu chung" />
    <meta property="og:image" content="https://hacid.vn/upload/images/about/ca15b4ea-0eb3-4bd0-8f9e-30a5b1664ce4.jpg" />
    <meta property="og:description" content="Công ty Cổ phần Tư vấn Đầu tư xây dựng Phát triển đô thị Hà Nội [HACID] là doanh nghiệp tư vấn thiết kế hạng một, là thành viên của Tổng Công ty Đầu tư Phát triển nhà Hà Nội [HANDICO]." />
}

<input hidden type="number" id="nav_theme" asp-for="@banner.Theme" />
<div class="about-page">
    <div class="banner">

        <img src="@banner.Banner">
    </div>
    <div class="intro padding">
        <div class="heading_area">
            <h3 class="heading">
                @localizer.Get("Giới thiệu chung")

            </h3>
            <div class="share">
                <div class="fb-share-button" data-href="https://hacid.vn/about" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
                <script type="IN/Share" data-url="https://www.linkedin.com"></script>
            </div>
        </div>
        <div class="ck-content">
            @Html.Raw(Model.DetailModel.HtmlContent)
        </div>
    </div>
    <div class="fields">
        <div class="row">
            <div class="col-xl-4">
                <div class="list padding">
                    <h3 class="heading">@localizer.Get("Lĩnh vực hoạt động chính")</h3>
                    <ul id="field_list">
                        @for (int i = 0; i < Model.Fields.Count; i++)
                        {
                            <li class="@(i==0?"active":"")">
                                <span class="index">0@(i+1)</span>
                                <a data-id="@Model.Fields[i].Id">@Model.Fields[i].Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-xl-8">
                <div id="field_detail">
                    @foreach (var item in Model.Fields)
                    {
                        <div class="info padding info-@item.Id"
                             style="background-image: url('/upload/images/@item.Banner')">
                            <div class="title">@item.Name</div>
                            <div class="ck-content">
                                @Html.Raw(item.Summary)
                            </div>
                        </div>
                    }
                </div>


            </div>
        </div>


    </div>
    <div class="history padding">
        <h3 class="heading">@localizer.Get("Lịch sử công ty")</h3>
        <div class="row">
            <div class="col-xl-3">
                <div class="img">
                    <img src="@Model.CompanyImage" title="trụ sở hacid">
                </div>
            </div>
            <div class="col-xl-9">
                <div class="timeline">
                    @foreach (var item in Model.Histories)
                    {
                        <div class="line">
                            <div class="year">@localizer.Get("Năm") @item.Year</div>
                            <div class="text">@item.Title</div>
                        </div>
                    }


                </div>
            </div>
        </div>


    </div>
    <div class="links">
        <a class="title_card bg_color_1 padding hv_color_2" href="/about/specialist">
            <div class="text">@localizer.Get("Kinh nghiệm chuyên môn")</div>
        </a>
        <a class="title_card bg_color_2 padding" href="/about/energy">
            <div class="text">@localizer.Get("Năng lực hiện tại")</div>
        </a>
        <a class="title_card bg_color_1 padding hv_color_2" href="/about/partners">
            <div class="text">@localizer.Get("Khách hàng - đối tác")</div>
        </a>
    </div>
</div>
@section Styles {

    <link href="~/css/about.css" rel="stylesheet" />
}
@section Scripts{
    <script>
        $(function () {
            $('#field_list li a').on('click', function (e) {
                e.preventDefault();
                $('#field_list li').removeClass('active');
                $('#field_detail .title').text($(this).text());
                $(this).parent('li').addClass('active');
                let id = $(this).attr("data-id");
                console.log(id);
                //
                $("#field_detail .info").hide();
                $("#field_detail .info.info-" + id).show();

            });
            $('#field_list li:first-child a').trigger('click');
        })
    </script>
}