@page
@inject CommonLocalizationService localizer
@model BaseProjectWebRazor.Pages.About.PartnersModel
@{
    ViewData["Title"] = localizer.Get("Khách hàng - đối tác");
    var banner = await setting.GetBanner(BannerType.About);
}
@inject Services.CompanySettings setting


<input hidden type="number" id="nav_theme" asp-for="@banner.Theme" />
<div class="about-page about-partners">
    <div class="banner">
      
        <img src="@banner.Banner">
    </div>
    <div class="top-filter-list new padding">
        <div class="left">
            <div class="label">Bộ lọc khách hàng: </div>
            <div class="options">
                <a class="option @(Model.SelectedCate==null?"active":"")" href="/about/partners">
                    Tất cả
                </a>
                @foreach (var x in Model.Categories)
                {
                    <a class="option @(Model.SelectedCate==x.Id?"active":"")" href="/about/partners?cate=@x.Id">
                        @x.Name
                    </a>
                }
            </div>
        </div>
        <button>
            <span>+</span>
        </button>
    </div>

    <div class="intro padding">
        <div class="heading_area">
            <h3 class="heading">
                @localizer.Get("Khách hàng và đối tác")

            </h3>
            <div class="share">
                <div class="fb-share-button" data-href="https://hacid.vn/about/partners" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
        <div class="partners_list">
            @foreach (var item in Model.Partners)
            {
                <a href="@item.Link" target="_blank">
                    <img src="@("/upload/images/"+item.Thumbnail)">
                </a>
            }


        </div>
    </div>

    <div class="links">
        <a class="title_card bg_color_1 padding hv_color_2" href="/about">
            <div class="text"> @localizer.Get("Giới thiệu chung")</div>
        </a>
        <a class="title_card bg_color_2 padding" href="/about/specialist">
            <div class="text"> @localizer.Get("Kinh nghiệm chuyên môn")</div>
        </a>
        <a class="title_card bg_color_1 padding hv_color_2" href="/about/energy">
            <div class="text"> @localizer.Get("Năng lực hiện tại")</div>
        </a>

    </div>
</div>
@section Styles {
    <link href="~/css/about.css" rel="stylesheet" />
    <link href="~/css/filter-list.css" rel="stylesheet" />
}